/* 
    Purple Color Scheme
    --------------------
    light purple #8064A2
    dark purple #715494
    light light purple #e3ccff 
*/


html {
    scroll-behavior: smooth;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur834.cur), auto !important;
}

::selection {
    background: #e3ccff; /* WebKit/Blink Browsers */
    color: black;
}

body {
    /* background-color: #fafafa; */
    background-color: white;
    height: 100%;
    margin: 0;
    padding-top: 65px;
    height: 100%;
}

.profile-pic {
    display: block;
    max-width: 75vw;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.icon {
    width: 36px;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
}

.container-top-10 {
    margin-top: 10%;
}

.container-top-5 {
    margin-top: 5%;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    
}

.bio-text {
    font-size: 15pt;
}

section {
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
    margin-top: 5%;
}

.font {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    margin-top: 5%;
}

h4 {
    margin-top: 2%;
}

.pic {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    display: block;
    width: auto;
    height: 75px;
    max-width: 90vw;
    /* max-height: 20vw; */
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo2{
    display: block;
    width: 400px;
    height: auto;
    max-width: 90vw;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#experience {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 25px;
}

.line {
    height: auto;
    width: 100%;
}

#skills {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#body {
    justify-content: center;
}

.icon2 {
    width: auto;
    height: 100px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 25px;
    background-color: #715494;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    color: #fafafa;
}

#projects {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-img-custom {
    height: 100px;
    width: auto;
}

/* Clipboard */
.tooltip {
    position: relative;
    display: inline-block;
  }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
  /* End Clipboard */

  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */

.button {
    margin-top: 5%;
    justify-content: center;
}

.project-body {
    align-items: center;
}

.project-pic{
    display: block;
    max-width: 80vw;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    object-fit: contain;
    /* object-fit: scale-down; */
    margin-bottom: 5px;
}

.project-pic-equation {
    display: block;
    width: auto;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.project-pic-inline {
    display: inline-block;
    max-width: 80vw;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}
/* .project-pic-inline  */

/* Custom Card Img Height */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
/* End Custom Card Img Height*/

/* Primary Button */
.btn-primary {
    background-color: #FFF;
    color: #8064A2;
    border-color: #715494;
    /* border-radius: 25px; */
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active    {
    background-color: #8064A2;
    color: #FFF;
    border-color: #715494;
}
/* End Primary Button */

/* Custom Toggler Button */
.custom-toggler .navbar-toggler-icon {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(113, 84, 148, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: #715494;
}
/* End Custom Toggler Button */

/* potential change */
/* .card-title {
    color: #715494 ;
} */